@keyframes rotate {
    from {
      transform: rotate(0)
    }
    to {
      transform: rotate(360deg)
    }
  }

  .horoscope-spin {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #400009;
  }
  
  .lights {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    .light {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      transition: opacity .2s linear;
    }
  
    .love-light {
      opacity: 1;
      background: url("../../assets/love_light.png") center/cover no-repeat;
    }
  
    .career-light {
      opacity: 0;
      background: url("../../assets/career_light.png") center/cover no-repeat;
    }
  
    .money-light {
      opacity: 0;
      background: url("../../assets/money_light.png") center/cover no-repeat;
    }
  
    .health-light {
      opacity: 0;
      background: url("../../assets/health_light.png") center/cover no-repeat;
    }
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    & > div {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
  
  .each-item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 30px;
    opacity: 0.6;
      .arrow {
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50px);
  
        width: 50px;
        height: 82px;
        background: url('../../assets/arrow.png') center/contain no-repeat;
      }
  
      .shadow {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 250px;
        width: 70vw;
        height: 70vw;
        z-index: 100;
    
        font-family: 'Gill Sans';
        color: #fff;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        line-height: 70vw;
    
        border-radius: 50%;
        background-color: rgba(0, 0, 0, .6);
      }

      .turnplate {
        position: relative;
        width: 250px;
        height: 250px;
        width: 70vw;
        height: 70vw;
  
        border-radius: 50%;
        background: url('../../assets/love_plate.png') center/contain no-repeat;
        z-index: 10;
  
        .each-result {
          position: absolute;
          top: 0;
          left: 0;
          list-style: none;
          width: 100%;
          height: 100%;
          font-size: 14px;
          word-break: break-all;
          z-index: 10;
          // transform: rotate(45deg);
  
          .result-text {
            width: 80px;
            text-align: center;
            line-height: 1.5;
            margin: 30px auto;
            color: #fff;
            text-shadow: -1px 1px 2px #ccc;
            font-family: Arial Rounded MT Bold;
          }
  
          &:nth-of-type(2) {
            transform: rotate(60deg);
          }
          &:nth-of-type(3) {
            transform: rotate(120deg);
          }
          &:nth-of-type(4) {
            transform: rotate(180deg);
          }
          &:nth-of-type(5) {
            transform: rotate(240deg);
          }
          &:nth-of-type(6) {
            transform: rotate(300deg);
          }
        }
      }
  }
  
  .health {
    left: -70%;
    transform: scale(.8);
    .turnplate {
      background: url('../../assets/health_plate.png') center/contain no-repeat;
    }
  }
  
  .love {
    left: 0;
    top: 0;
    opacity: 1;
  }
  
  .career {
    left: 70%;
    transform: scale(.8);
  
    .turnplate {
      background: url('../../assets/career_plate.png') center/contain no-repeat;
    }
  }
  
  .money {
    left: 180%;
    transform: scale(.8);
  
    .turnplate {
      background: url('../../assets/money_plate.png') center/contain no-repeat;
    }
  }
  
  .title {
    position: absolute;
    width: 100%;
    height: 40px;
  
    background-image: linear-gradient(#fcff02,#ffba7e);
    -webkit-background-clip: text;
    color: transparent;
  
    line-height: 40px; 
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    font-family: Gill Sans;
  
    z-index: 10;
  }
  
  .title-1 {
    top: 4%;
  }
  
  .title-2 {
    top: 9%;
  }
  
  .type {
    position: absolute;
    top: 16%;
  
    width: 100%;
    height: 50px;
  
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
  
    font-family: Gill Sans;
  
    z-index: 10;
  }
  
  .start-btn {
    position: absolute;
    left: 50%;
    bottom: 12%;
    z-index: 100000;
    overflow: hidden;
  
    width: 70%;
    height: 56px;
    transform: translateX(-50%);
    
    border-radius: 30px;
    background-image: linear-gradient(#f8c78e,#e8695b);
    color: #fff;
    line-height: 56px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial Rounded MT Bold;
    text-align: center;
  }
  .has-played {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .6);
    }
  }